################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backend/Accounting/.vs/Accounting/v17
/Backend/Accounting/.vs
/Backend/Accounting/Accounting.Model/bin/Debug/net6.0
/Backend/Accounting/Accounting.Model/obj
/Backend/Accounting/Accounting.WebApi/bin/Debug/net6.0
/Backend/Accounting/Accounting.WebApi/obj
/Backend/Accounting/Accounting.BLL.Tests/obj
/Backend/Accounting/Accounting.BLL/bin/Debug/net6.0
/Backend/Accounting/Accounting.BLL/obj
/Backend/Accounting/Accounting.DAL/bin/Debug/net6.0
/Backend/Accounting/Accounting.DAL/obj
